:root {
    --gap: 1rem;
    --background-color: #F6F3F2;
    --accent: #dd126c;
    --border: #E2E2E2 1px solid;
    --dark-bg: hsl(0,0%,5%);
    --dark-border: #333 1px solid;
    --dark-text: hsl(0,0%,90%);
    --dark-text-alt: hsl(0,0%,75%);
    --c-bg-img: #F1EEEC;
}
* {
    box-sizing: border-box;
}

[data-theme="light"]{
    background-color: var(--background-color);
}
[data-theme="dark"]{

    body {
        background-color: var(--dark-bg);
        color: var(--dark-text);
    }
    .group {
        border-right: var(--dark-border);
        border-bottom: var(--dark-border);
    }
    .group aside {
        border-right: var(--dark-border);
    }
    .txt-alt {
        color: var(--dark-text-alt);
    }
    .group:last-child {
        border-bottom: var(--dark-border);
    }
    p{
        color: var(--dark-text-alt);
    }
    a {
        color: var(--dark-text);
    }
    .stacked a {
        border-right: var(--dark-border);
    }
    .group aside {
        border-right: var(--dark-border);
    }
    .main-project-image {
        background-color: #282828;
    }
    svg { 
        fill: var(--dark-text)
    }
    .side-menu-design {
        border-right: var(--dark-border);
        border-bottom: var(--dark-border);
    }

}


body {
    max-width: 1280px;
    font-family: Geist,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    hyphens: auto;
    margin: 0;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 100;
    padding: 0;
    margin: 0;
    font-feature-settings: "onum", "kern", "liga", "clig", "calt";
    hyphens: none;
}
.nav {
    display: none;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding-left: 0;
}
.hamburger-menu {
    display: block; /* display:none starts to show up with responsive */
    cursor: pointer;
}
.side-menu-design {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    border-right: var(--border);
    border-bottom: var(--border);
}
.side-menu-position {
    position: absolute;
    background-color: var(--background-color);
    z-index: 1 !important;
    max-width: 1280px;
    width: 100%;
}
.show-menu {
    opacity: 1;
    transform: translateX(0%);
}
.side-menu-content {
    font-size: 1.5em; /* could use ems here I guess but eh... */
    padding-left: 0; /* zeroing it out */
}
.side-menu-content li {
    text-transform: uppercase;
    list-style: none;
    margin-bottom: 1em;
}
.side-menu-header {
    display: flex;
    justify-content: space-between;
}
.nav-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.hidden {
    display: none !important;
}
.group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-right: var(--border);
    border-bottom: var(--border);
}
.group .adaptive {
    align-items: center;
    align-content: center !important;
}
.group:last-child {
    border-bottom: var(--border);
}
.group main {
    flex-grow: 999;
    flex-basis: 400px;
}
.group aside {
    flex-grow: 1;
    flex-basis: 380px;
    min-width: 300px;
    border-right: var(--border);
}
.alt-width p {
    max-width: 80%;
}
img {
    aspect-ratio: 1 / 1;
    /* min-width: 200px; */
    max-width: 100%;
    object-fit: cover;
    margin-bottom: var(--gap);
    object-position: center;
}
img:hover {
    transition: filter 1s ease-in-out;
    filter: grayscale(0%);
}
.cp_embed_wrapper{
    margin-bottom: var(--gap);
}
/* .codepen:last-child {
    margin-bottom: 0 !important;
} */
img:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.sticky {
    position: sticky; 
    /* align-content: space-between; */
}
.sticky-aside {
    position: relative;
}

main, aside {
    padding: 1em;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main.stacked, aside.stacked{
    margin: 0;
    padding: 0;
}
.stacked {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
}
.back-arrow {
    padding: 0;
    align-items: center;
}
.stacked h1 {
    align-content: center;
    padding: 0 1em;
}
.stacked a {
    align-content: center;
    padding: 1em;
    border-right: var(--border);
}
h1 {
    margin: .15em 0;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}
.main-header h2 {
    font-size: 1.5em;
}
h2 {
    margin: .25em 0;
    font-size: 1.25em;
    font-weight: 100;
    text-transform: uppercase;
}
p {
    font-weight: 100;
    margin: 0.25em 0 .5em 0;
}
a {
    color: #282828;
    text-decoration: none;
}
a:hover {
    color: var(--accent);
}
@media (prefers-color-scheme: dark) {
    .adaptive {
        borders: #484851;
    }
    body {
        background-color: var(--dark-bg);
        color: var(--dark-text);
    }
    .group {
        border-right: var(--dark-border);
        border-bottom: var(--dark-border);
    }
    .group aside {
        border-right: var(--dark-border);
    }
    .txt-alt {
        color: var(--dark-text-alt);
    }
    .group:last-child {
        border-bottom: var(--dark-border);
    }
    p{
        color: var(--dark-text-alt);
    }
    a {
        color: var(--dark-text);
    }
    .stacked a {
        border-right: var(--dark-border);
    }
    .group aside {
        border-right: var(--dark-border);
        border-bottom: var(--dark-border);
    }
    @media (width <= 780px) { 
        aside {
            border-right: none !important;
            border-bottom: var(--dark-border);
        }
        
    }
}
/* this is a weird size, but where it wraps */
@media (width <= 780px) { 
    aside {
        border-right: none !important;
        border-bottom: var(--border);
    }
    
}
.project-image {
    display: block;
    width: 100%;
    background: var(--c-bg-img);
    /* filter: grayscale(100%); */
}
.main-project-image {
    max-height: 500px;
    display: block;
    width: 100%;
    background: var(--c-bg-img);
    /* filter: grayscale(100%); */
}
button{
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.back-button {
    display: flex;
    align-items: center;
}





















